[[source]]
name		= "pypi"
url			= "https://pypi.org/simple"
verify_ssl	= true

[requires]
python_version			= "3.11"

[packages]
Django					= ">=5.1"
django-environ          = ">=0.11.2"
requests				= ">=2.32.3"
martor					= ">=1.6.44"
pypandoc				= ">=1.13"
pandoc-latex-environment = ">=1.1.7"
termcolor				= ">=2.4.0"
cairosvg				= ">=2.7.1"
django-bleach           = ">=3.1.0"
django-extensions       = ">=3.2.3"
gunicorn                = ">=23.0.0"
django-taggit           = ">=6.0.0"
django-sendfile2        = ">=0.7.1"
django-autocomplete-light = ">=3.11"
django-grappelli        = ">=4.0.1"

[dev-packages]
werkzeug = "*"
ipdb = "*"
pillow = "*"
mypy = "*"
autopep8 = "*"
ipykernel = "*"
types-requests = "*"
